body {
    margin: 0;
   
    
}
    @font-face {
        font-family: "Nunito Sans";
        src: url('../fonts/fonts/Nunito_Sans.woff'),
            url('../fonts/fonts/Nunito_Sans.ttf');
      }
      @font-face {
        font-family: "Yeseva One";
        src: url('../fonts/fonts/Yeseva_One.woff'),
            url('../fonts/fonts/Yeseva_One.ttf');
    
}
body * {
    box-sizing: border-box;
}
.wrapper {
    max-width: 1250px;
    margin: 0 auto;
}

.button, .calculate, .submit {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
}
.calculate, .submit {
    padding: 19px 20px;
    
}
.calculate {
    margin-right: 20px;
    margin-left: 135px;
}
.submit {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
}

.logo{
    color: #E3B873;
    
}
.header {
    background-color: black;
    }
.header-content{
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center; 
    font-size: 11px;
    line-height: 15px;
    font-family: "Nunito Sans";
}
.header-navigation, .sectiontwoul {
    list-style: none;
    display: flex;
}

.header-navigation__itemtel {
    text-decoration: underline;
    color: #E3B873;
    
    
}
.header-navigation__item {
    text-decoration: none;
    color: white;
    margin-right: 47px;
}
a {
    text-decoration: none;
    color: white;  
}
a:hover {
    color: #E3B873;
    text-decoration: underline;
    }
.hero {
    background-image: url("../images/image 4.3.png");
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}
.hero-overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}
.hero-container {
    position: relative;
    z-index: 1;
}
.title, .sectiontwoul, .completed, .tablerow {
    margin: 0;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title {
    margin-left: 135px;  
}
span {
    color: #E3B873;
}
.herop, .sectiontwop, .textrow {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;  
    margin-left: 135px;  
}
.sectiontwo {
    background-color: black;
}
.completed {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    color: #E3B873;
    margin-top: 176px;
    margin-left: 135px;
}
.sectiontwoul {
    font-size: 14px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.3);
    
    
}
.sectiontwoliadmiral {
margin-top: 107px;
margin-left: 570px;
margin-right: 60px;


}
.sectiontwoli, .sectiontwolipatriotic {
    text-align: right;
    margin-top: 107px;
    margin-right: 60px;
}
.chairs {
   float: right;
   margin-top: 176px;
   margin-right: 100px;
}
.sectiontwop {
    margin-top: 34px;
    font-size: 17px;
    line-height: 30px;
}
.table, .transition {
margin-left: 135px;
}
.tablerow, .textrow {
    font-size: 22px;
    line-height: 25px;
    text-align: left;
    color: #E3B873;
    
}
.textrow {
   color: white;
   font-size: 16px;
}
.transition {
    color: white;
    display: flex;
    margin-top: 60px;
    font-size: 20px;
    padding-bottom: 40%;
    
}
.back-arrow {
    padding-right: 10px;
    font-size: 30px;
   
}
.forward-arrow {
    padding-left: 10px;
    font-size: 30px;
}
.sectiononline-control {
  margin-top: -25%;
}

